@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}

/*HEADER*/
#header {
    font-family: "League Spartan", 'Poppins', Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #2e2e2e;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}
header a {
    color: #2e2e2e;
    font-weight: 300;
}
header a:hover {
    color: #000;
}

/*NAVBAR*/
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    gap: 3rem;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/*LOGO*/
.logo img{
    width: 65px;
}
img:hover{
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

/*SEARCH BOX*/
.search-box {
    position: relative;
}
.search-box input {
    width: 350px;
    height: 2rem;
    padding: 0.8rem;
    padding-right: 2.5rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 50px;
}
.search-box input:focus {
    outline: none;
}
.search-box .search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 2px;
}

/*NAV LIST*/
ul {
    margin: 0;
    padding: 0;
}
li a{
    font-size: 1rem;
    font-weight: 300;
}

/*ICONS*/
.icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #2e2e2e;
}
.bi.bi-person, .bi.bi-bag{
    cursor: pointer;
}
.bi.bi-bag{ 
    padding: 2px;
}

/*BUTTON*/
button {
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.8rem;
    border: none;
}
.button {
    text-align: center;
    margin-bottom: 2rem;
}

/*CAROUSEL*/
.carousel {
    margin-top: 7vh;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.carousel-list {
    width: 100%;
    height: 100%;
}
.item {
    position: absolute;
    inset: 0;   /* top: 0; right: 0; bottom: 0; left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: rotateX(100vw);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}
.active {
    opacity: 1;
    transform: translateX(0);
}
.item1 {
    background-color: #000;
}
.item2 {
    background-color: #000;
}
.item3 {
    background-color: #fff;
}

/*IMAGE*/
.carousel-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.item2 .carousel-img {
    align-items: center;
}
.item3 .carousel-img {
    align-items: baseline;
    height: 90%;
}

.carousel-img img {
    max-width: 100%;
    max-height: 90%;
    transition: transform 0.4s ease;
    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}
.active .carousel-img img {
    transform: translateX(0);
    opacity: 1;
}
.carousel-img img:hover {
    transform: scale(1.0);
}
.carousel{
    margin-top: 7vh;
}

/*CONTENT*/
.carousel-content {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

/*PRICE*/
.carousel-content .price{
    font-size: 1.1rem;
    font-family: 'Segoe UI', 'Poppins', Arial, sans-serif;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.item3 .carousel-content .price {
    color: #2e2e2e;
}

/*BUTTON*/
.btn {
    padding: 12px 18px;
    border-radius: 20px;
    background-color: #06c;
    color: #fff;
}
.btn:hover {
    background-color: #005bb5;
}

/*ARROWS*/
.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow-btn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: #f5f5f5;
}
.arrow-btn:hover {
    color: #ccc;
}

/*INDICATORS*/
.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 5;
}
.dots {
    display: flex;
    gap: 10px;
}
.dot {
    width: 80px;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
    opacity: 0.4;
    cursor: pointer;
}
.dot:hover {
    opacity: 0.7;
}
.dot.active {
    opacity: 1; 
}

/*FOOTER*/
section.footer {
    height: 30vh;
    background-color: #fff;
}

/*MEDIA QUERIES*/
@media (max-width:1280px) {
    .nav {
        height: 10vh;
        gap: 0.9rem;
    }
    .nav-list {
        gap: 0.5rem;
    }
    .search-box input {
    width: 220px;
    height: 0.5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    }
    .search-btn i {
        font-size: 0.9rem;
    }
    li a {
        font-size: 0.9rem;
    }
    i {
        font-size: 1rem;
    }
    .icons {
    padding-left: 0rem;
    gap: 1rem;
    }
    .carousel {
        margin-top: 10vh;
    }
    .carousel-img img {
    max-height: 80%;
    }
    .carousel-content .price {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
    button {
        font-size: 0.8rem;
        cursor: pointer;
        margin: 0 0.8rem;
        border: none;
    }
    .button {
        margin-bottom:  1rem;
    }
    .btn {
        padding: 8px 16px;
    }
    .indicators {
        bottom: 10px;
    }
}
@media (max-width: 767.98px) {
    .logo img{
        width: 48px;
    }
    .nav {
        height: 12vh;
        gap: 0.5rem;
    }
    .search-box input {
    width: 150px;
    height: 0.5rem;
    padding: 0.6rem;
    font-size: 0.7rem;
    }
    .search-btn i {
        font-size: 0.8rem;
    }
    li a {
        font-size: 0.8rem;
    }
    i {
        font-size: 0.9rem;
    }
    .carousel {
        margin-top: 12vh;
    }

}