@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}

/*HEADER*/
#header {
    font-family: "League Spartan", 'Poppins', Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #2e2e2e;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}
header a {
    color: #2e2e2e;
    font-weight: 300;
}
header a:hover {
    color: #000;
}

/*NAVBAR*/
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    gap: 3rem;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/*LOGO*/
.logo img{
    width: 65px;
}
img:hover{
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

/*SEARCH BOX*/
.search-box {
    position: relative;
}
.search-box input {
    width: 350px;
    height: 2rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 50px;
}
.search-box input:focus {
    outline: none;
}
.search-box .search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
.search-btn i {
    font-size: 1rem;
    color: #2e2e2e;
}

/*NAV LIST*/
ul {
    margin: 0;
    padding: 0;
}
li a{
    font-size: 1rem;
    font-weight: 300;
}
.icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #2e2e2e;
}
.bi.bi-person, .bi.bi-bag{
    cursor: pointer;
}
.bi.bi-bag{ 
    padding: 2px;
}
button {
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.8rem;
    border: none;
}
.button {
    text-align: center;
    margin-bottom: 2rem;
}

/*CAROUSEL*/
.carousel {
    margin-top: 7vh;
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    background-color: #000;
}
.carousel-list {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid red;
}
.item {
    position: absolute;
    inset: 0;   /* top: 0; right: 0; bottom: 0; left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.active {
    opacity: 1;
}
/*IMAGE*/
.carousel-img {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    border: 1px solid #fff;
}
.carousel-img img {
    max-width: 100%;
    max-height: 90%;
}
.carousel-content {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid wheat;
}
.carousel-content .price {
    font-size: 1.3rem;
    font-family: 'Segoe UI', 'Poppins', Arial, sans-serif;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
/*BUTTON*/
.btn {
    padding: 10px 20px;
    text-align: center;
    margin: 1rem 0;
    border-radius: 20px;
    background-color: #06c;
    color: #fff;
    font-weight: 550;
    border: 1px solid white;
}
.btn:hover {
    background-color: #fff;
    color:#fff
}
/*ARROWS*/
.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow-btn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: #f5f5f5;
}
.arrow-btn:hover {
    color: #ccc;
}
/*INDICATORS*/
.indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
}
.dots {
    display: flex;
    gap: 10px;
}
.dot {
    width: 80px;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
}
.dot.active

/*FOOTER*/
section.footer {
    height: 30vh;
    background-color: #f5f5f5;
}

/*MEDIA QUERIES*/
@media (max-width:1279.98px) {
    .nav {
        height: 12vh;
        gap: 0.9rem;
    }
    .nav-list {
        gap: 0.5rem;
    }
    .search-box input {
    width: 220px;
    height: 0.5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    }
    .search-btn i {
        font-size: 0.9rem;
    }
    li a {
        font-size: 0.9rem;
    }
    i {
        font-size: 1rem;
    }
    .icons {
    padding-left: 0rem;
    gap: 1rem;
    }
    .carousel-img img {
    max-height: 80%;
    }
}
@media (max-width: 767.98px) {
    .logo img{
        width: 48px;
    }
    .nav {
        height: 12vh;
        gap: 0.5rem;
    }
    .search-box input {
    width: 150px;
    height: 0.5rem;
    padding: 0.6rem;
    font-size: 0.7rem;
    }
    .search-btn i {
        font-size: 0.8rem;
    }
    li a {
        font-size: 0.8rem;
    }
    i {
        font-size: 0.9rem;
    }
}