/*GENERAL STYLES*/
section{
    min-height: fit-content;
}
.section-container{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}
.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
    background-color: #fff;
    border-radius: 25px;
}

/*FILTERS*/
.title-filters .title {
    font-family: "League Spartan",'Segoe UI', Arial, sans-serif;
    margin: 3rem;
    text-align: start;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: -3px;
    color: #2e2e2e;
}
.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem;
    font-family: 'Segoe UI', 'Poppins', Arial, sans-serif;

}
.filter-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 200px));
    justify-content: center;
}
.filter-group label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1rem;
    
}
.filter-group select {
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: 'Segoe UI', 'Poppins', Arial, sans-serif;
}
.filter-group select:focus {
    outline: none;
}

/*PRODUCTS*/
.section-produts {
    font-family: "League Spartan", 'Poppins', 'Segoe UI', sans-serif;
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
}

/*ITEM STYLES*/
.img{
    width: 230px;
    height: 270px;
    border-radius: 2rem;
    padding: 1rem;
}
.sub-title{
    color: #000;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    font-size: 2.2rem;
    margin: 1rem 0rem;
    padding: 0 0.5rem;
}
.description, .description2 {
    font-family:  'Segoe UI', Arial, sans-serif;
    font-size: 1rem;
    text-align: center; 
    font-weight: 400;
}
.price {
    font-family:  'Segoe UI', Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin: 1rem; 
    font-weight: 500;
}
.btn-1{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #06c;
    color: #fff;
}
.btn-1:hover{
    background-color: #005bb5;
}
.btn-2{
    text-decoration: underline;
    text-underline-offset: .4rem;
    color: #06c;
    background-color: transparent;
}
.btn-2:hover{
    color: #005bb5;
}

/*MEDIA QUERIES*/
@media (max-width:1280px) {
    .description, .description2 {
        font-size: 0.9rem;
    }
    .sub-title{
    font-size: 1.9rem;
}
}
@media (max-width: 767.98px) {
    .section-container {
        margin: 0 1rem;
    }
    .containers{
        margin:0.5rem 0rem;
    }
    .title-filters .title {
        margin: 3rem 1rem;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: -1px;
    }
    .filter-group label {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 0.9rem;
    }
        .filter-group select {
        font-size: 0.9rem;
    }
    .section-produts {
        padding: 1rem 0;
    }
    .section-container{ 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 140px));
        justify-content: center;
        gap: 1rem;
        padding: 0;
    }
    .description, .description2 {
        display: none;
    }
    .img {
        width: 150px;
        height: 180px;
    }
    .sub-title {
        font-size: 1.1rem;
        padding: 0.2rem;
    }
    .price {
        font-size: 1rem;
        margin: 0 1rem 1rem 1rem;
    }
    .btn-1, .btn-2 {
        padding: 8px 16px;
    }
}