/*GENERAL STYLES*/
section{
    min-height: fit-content;
}
.section-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    justify-content: center;
    gap: 1rem;
}
.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

/*APPLE AND XIAOMI*/
.smartphones-apple, .smartphones-xiaomi {
    margin-top: 7vh;
    font-family: "League Spartan", 'Poppins', 'Segoe UI', sans-serif;
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
}

/*ITEM STYLES*/
.title {
    font-family: 'Segoe UI', Arial, sans-serif;
    padding-top: 2rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -3px;
    color: #2e2e2e;
}
.img{
    width: 230px;
    height: 270px;
    border-radius: 2rem;
    padding: 1rem;
}
.sub-title{
    color: #000;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0rem;
}
.description, .description2 {
    font-family:  'Segoe UI', Arial, sans-serif;
    font-size: 1rem;
    text-align: center; 
    font-weight: 400;
}
.description2 {
    margin: 0rem 0rem 1rem 0rem; 
}
.price {
    font-family:  'Segoe UI', Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin: 1rem; 
    font-weight: 500;
}
.btn-1{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #06c;
    color: #fff;
}
.btn-1:hover{
    background-color: #005bb5;
}
.btn-2{
    text-decoration: underline;
    text-underline-offset: .4rem;
    color: #06c;
    background-color: transparent;
}
.btn-2:hover{
    color: #005bb5;
}

/*SAMSUNG AND GOOGLE*/
.smartphones-samsung, .smartphones-google {
    margin-top: 0rem;
    font-family: "League Spartan", 'Poppins', 'Segoe UI', sans-serif;
    width: 100%;
    background-color: #fff;
    color: #333;
    position: relative;
}

/*XIAOMI*/
.smartphones-xiaomi {
    margin-top: 0rem;
} 

/*MEDIA QUERIES*/
@media (max-width:1279.98px) {
    .smartphones-apple, .smartphones-xiaomi {
        margin-top: 12vh;
    }
}
@media (max-width: 767.98px) {
    .section-container {
        margin: 0 1rem;
    }
    .title {
        padding-left: 1rem;
        font-size: 2rem;
    }
    .img {
        width: 150px;
        height: 180px;
    }
    .sub-title {
        font-size: 1.5rem;
    }
    .smartphones-apple, .smartphones-xiaomi {
        margin-top: 12vh;
    }
}