{% extends 'store/main.html' %}
{% load static %}

{% block title %}EletroPoint - Registo{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login-register-page.css' %}">
{% endblock %}

<body>
    {% block content %}
    <section class="registerPage">
        <div class="container">
            <form method="POST" class="form">
                {% csrf_token %}
                <h1>Crie sua Conta</h1>

                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}

                <input type="text" name="name" placeholder="Nome" class="input required">
                <input type="email" name="email" placeholder="Email" class="input required">
                <input type="password" name="password" placeholder="Senha" class="input required">
                <input type="password" name="password2" placeholder="Confirme sua Senha" class="input required">

                <button type="submit" class="btn form-btn">Criar Conta</button>

                <span class="sign-in">Já possui uma conta? <a href="{% url 'loginPage' %}">Conecte-se</a>.</span>
            </form>
        </div>
    </section>
    {% endblock %}
</body>
</html>