{% extends 'store/main.html' %}
{% load static %}

{% block title %}EletroPoint - Recuperar senha{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login-register-page.css' %}">
{% endblock %}

<body>
    {% block content %}
    <section class="loginPage">
        <div class="container">
            <form method="POST" class="form">
                {% csrf_token %}
                <h1>Recuperar Senha</h1>

                {% if error %}
                    <p style="color:red; margin-bottom:1rem;">{{ error }}</p>
                {% endif %}
                {% if success %}
                    <p style="color:green; margin-bottom:1rem;">{{ success }}</p>
                {% endif %}

                <input type="email" name="email" placeholder="Email" class="input required">
                <input type="password" name="password" placeholder="Nova password" class="input required">
                <input type="password" name="password2" placeholder="Confirmar nova password" class="input required">

                <button type="submit" class="btn form-btn">Alterar Senha</button>
                <span class="sign-in"><a href="{% url 'loginPage' %}">Voltar ao login</a></span>
            </form>
        </div>
    </section>
   {% endblock %}
</body>
</html>